body
{
    background-color:cadetblue ;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 300px;
}

main
{
    width: 90%;
    background-color: white;
    border-radius: 6px;
    padding: 20px;
}

.add-form
{
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.add-form input{
    width: 90%;
    height: 30px;
    border: 1px solid black;
    border-radius: 5px;
    padding-left: 5px;
}

.add-form button{
    width: 30px;
    height: 30px;
    background-color: #29A0F5;
    border-radius: 4px;
}

.add-form input:focus{
    outline: auto;
}

table{
    width: 100%;
    border-collapse: collapse;
    min-height: 120px;
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

thead
{
    font-weight: 800;
}

tbody select{
    font-size: 16px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

td,th{
    padding: 10px 15px;
    border: 1px solid black;
}

.edit-button,.del-button{
    border-radius: 4px;
    margin: 0px 5px;
}

.edit-button{
    background-color:  #F7EB63;
}

.del-button{
    background-color: #D64205;
}

.edit-button,.del-button, select, .add-form button:hover{
    cursor: pointer;
}